/* VARS */

:root {
    --background-color__main: #202030;
    --background-color__light: #909090;
    --font-color__main: white;
    --font-color__invert: black;
    --font__main: 'Roboto Condensed';
    __font__h2: 'Open Sans';
}

/* /VARS */


/* COMPONENTS */

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--font-color__main);
    background-color: var(--background-color__light);
    font-family: var(--font-main);
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border: rgb(150, 150, 150) solid 1px;
}

p {
    font: 1.2em/1.65 'Open Sans',Verdana,sans-serif;
}

h2 {
    font: 2em/1.1 'Roboto Condensed',Verdana,Arial,sans-serif;
    display: block;
    font-weight: 700;
    margin-bottom: 2px;
    margin-bottom: 20px;
}

h3 {
    font: 1.5em/1.1 'Roboto Condensed',Verdana,Arial,sans-serif;
    display: block;
    font-weight: 700;
    margin-bottom: 2px;
    margin-bottom: 20px;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* /COMPONENTS */


/* HEADER */

.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: var(--background-color__main);
}

.logo-container {
    display: inline;
    text-align: center;
}

.text-logo {
    font: 2.6em/1.1 'Roboto Condensed',Verdana,Arial,sans-serif;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2px;
}

.text-logo-secondary {
    font: 1.2em/1.1 'Roboto Condensed',Verdana,Arial,sans-serif;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2px; 
}

.header img {
    border: none;
}

/* /HEADER */


/* HERO */

h1 {
    font: 3em/1.1 'Roboto Condensed',Verdana,Arial,sans-serif;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2px;
    text-align: center;
    margin-bottom: 20px;
}

.hero-image {
    margin-bottom: 20px;
}

.hero-about {
    background-color: var(--background-color__light);
    padding: 20px;
}

/* /HERO */


/* CREDO */

.credo-background {
    background-image: url(../images/no-hero.jpg);
    padding: 20px;
    height: 750px;
}

/* /CREDO */

/* PREMIUM */

.premium-background {
    background-image: url(../images/no-hero.jpg);
    padding: 20px;
    height: 750px;
}

/* /PREMIUM */


/* SMARTPHONES */

.smartphones {
    background-color: var(--background-color__main);
}

.smartphones-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.smartphone {
    width: calc((100% - 30px) / 2);
    
}

/* /SMARTPHONES */


/* ACCESSORIES */

.accessories-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.accessory {
    width: calc((100% - 60px) / 3);
}

/* /ACCESSORIES */


/* OUTRO */

.outro {
    background-color: var(--background-color__main);
}

/* /OUTRO */