/* VARS */

:root {
    --background-color__main: #202030;
    --background-color__light: #e8e5e5;
    --font-color__main: white;
    --font-color__invert: black;
    --font__main: 'Roboto Condensed';
    __font__h2: 'Open Sans';
}

/* /VARS */


/* COMPONENTS */

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--font-color__invert);
    background-color: var(--background-color__light);
    font-family: var(--font-main);
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

p {
    font: 1.2em/1.65 'Open Sans',Verdana,sans-serif;
}

h2 {
    font: 2em/1.1 'Roboto Condensed',Verdana,Arial,sans-serif;
    display: block;
    font-weight: 700;
    margin-bottom: 2px;
    margin-bottom: 30px;
}

h3 {
    font: 3em/1.1 'Roboto Condensed',Verdana,Arial,sans-serif;
    display: block;
    font-weight: 700;
    margin-bottom: 2px;
    margin-bottom: 30px;
    text-align: center;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* /COMPONENTS */


/* HEADER */

.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: var(--background-color__main);
    color: var(--font-color__main);
}

.logo-container {
    display: inline;
    text-align: center;
}

.text-logo {
    font: 2.6em/1.1 'Roboto Condensed',Verdana,Arial,sans-serif;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}

.text-logo-secondary {
    font: 1.2em/1.1 'Roboto Condensed',Verdana,Arial,sans-serif;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
}

/* /HEADER */


/* HERO */

h1 {
    font: 3em/1.1 'Roboto Condensed',Verdana,Arial,sans-serif;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2px;
    text-align: center;
    margin-bottom: 30px;
}

.infinity {
    background-color: var(--background-color__main);
    margin-bottom: 30px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: center;
}

.hero

.secondary-title {
    margin-bottom: 40px;
    text-align: center;
}

.hero-about {
    padding: 30px;
    background-color: var(--background-color__main);
    color: var(--font-color__main);
    border-radius: 30px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* /HERO */


/* CREDO */

.credo-background {
    background-image: url(../images/credo.jpg);
    background-color: var(--background-color__main);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 30px;
    color: var(--font-color__main);
    border-radius: 30px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.credo-background-memo {
    max-width: 58%;
}

/* /CREDO */

/* PREMIUM */

.premium-background {
    background-image: url(../images/premium.jpg);
    background-color: var(--background-color__main);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 30px;
    color: var(--font-color__main); 
    border-radius: 30px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    display: flex;
}

.premium-background li {
    font: 1.2em/1.65 'Open Sans',Verdana,sans-serif;
}

.premium-background li:not(:last-child) {
    margin-bottom: 15px;
}

.premium-background-left {
    min-width: 45%;
}

/* /PREMIUM */


/* SMARTPHONES */

.smartphones {
    background-color: var(--background-color__main);
    color: var(--font-color__main);
}

.smartphones-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.smartphone {
    width: calc((100% - 50px) / 2);
    background-color: var(--background-color__light);
    color: var(--font-color__invert);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* /SMARTPHONES */


/* ACCESSORIES */

.accessories-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.accessory {
    width: calc((100% - 60px) / 3);
    background-color: var(--background-color__main);
    color: var(--font-color__main);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* /ACCESSORIES */


/* OUTRO */

.outro {
    background-color: var(--background-color__main);
    color: var(--font-color__main);
}

/* /OUTRO */